<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xexpr -->
      <package
            uri="com.kilic.xexpr"
            class="com.kilic.xexpr.XexprPackage"
            genModel="model/xexpr.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xinterpreter -->
      <package
            uri="com.kilic.xinterpreter"
            class="com.kilic.xinterpreter.XinterpreterPackage"
            genModel="model/xinterpreter.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xdigital -->
      <package
            uri="com.kilic.xdigital"
            class="com.kilic.xdigital.XdigitalPackage"
            genModel="model/xdigital.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xphysical -->
      <package
            uri="com.kilic.xphysical"
            class="com.kilic.xphysical.XphysicalPackage"
            genModel="model/xphysical.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xtype -->
      <package
            uri="com.kilic.xtype"
            class="com.kilic.xtype.XtypePackage"
            genModel="model/xtype.xcore"/>
   </extension>

</plugin>
